{% load static %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Sherpany</title>
    <meta charset="utf-8" />
    {% block extra_script %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    {% block extra_style %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
