{% extends "base.html" %}
{% load static %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAta7XTgwQ6UuggEJVh0KXnOzPVJQj4ZZA&callback=initMap">
</script>
{% endblock extra_script %}
{% block content %}
<h1>Sherpany Test</h1>
<div id="map"></div>
<div id="addresses">
  <ul>
  {% for location in locations %}
  <li>{{ location.formatted_address }}</li>
  {% endfor %}
  </ul>
</div>
{% endblock %}


